/*.topnav {
   background-color: #333;
   overflow: hidden;
}

.topnav a {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
   background-color: #ddd;
   color: black;
}

.topnav a.active {
   background-color: #FF5733;
   color: white;
}*/

.topnav {
    margin-left: 100px;
    font-family: arial, sans-serif;

}

.icon-bar {
    width: 90px;
    height: 100%;
    background-color: #333;
    margin-top: 0px;
    margin-right: 0px;
    top: 0;
    left: 0;
    float: left;
    position: fixed;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px; /
}

.icon-bar a:hover {
    background-color: #ddd;
}

.icon-bar .active {
    background-color: #FF5733;
}

.addButton {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    float: right;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.addButton:hover {
    background-color: #FF5733;
}

.newClass {
    margin-left: 120px;
    margin-right: 10px;
    font-family: arial, sans-serif;
    width: 80%;
}

.text-input input[type="text"] {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.checkbox-input {
    display: inline-block;
}

.button input[type="submit"] {
    margin-top: 20px;
    width: 94%;
    margin: 2em 3% 0;
    border: none;
    background: #FF5733;
    padding: 1em 0;
    font-size: 1.25em;
    clear: both;
    color: #FFFFFF;
    border: #FF5733 1px solid;
@include border-radius(5px);
    outline: none;
@include trans(all, .25s);
    cursor: pointer;
}

.button input[type="submit"]:hover {
    background: #FFFFFF;
    color: #FF5733;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 100px;
    margin-right: 10px;
    overflow-y:scroll;
    height:100px;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:not(:first-child):hover {
    background-color: #FF785B;
}

.newClassTable {
    clear: both;
    border: none;
}

.heading {
    margin-left: 100px;
    font-family: arial, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

