.topnav {
    margin-left: 100px;
    font-family: arial, sans-serif;

}

.icon-bar {
    width: 90px;
    height: 100%;
    background-color: #333;
    margin-top: 0px;
    margin-right: 0px;
    top: 0;
    left: 0;
    float: left;
    position: fixed;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px; /
}

.icon-bar a:hover {
    background-color: #ddd;
}

.icon-bar .active {
    background-color: #FF5733;
}

.class-info {
    margin-left: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 100px;
    margin-right: 10px;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    /*background-color: #dddddd;*/
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 3px solid #888;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#submissionsTable {

}

.collapseBtn {
    margin-top: 20px;
    width: 94%;
    margin: 2em 3% 0;
    border: none;
    background: #FFFFFF;
    padding: 1em 0;
    font-size: 1.25em;
    clear: both;
    color: #FF5733;
    border: #FF5733 1px solid;
    border-radius: 5px;
    width: 20%;
    text-align: center;
@include border-radius(5px);
    outline: none;
@include trans(all, .25s);
    cursor: pointer;
}

.collapseBtn:hover {
    background: #FF5733;
    color: #FFFFFF;
}

/*
#questionTable {

    max-height: 200px;
    overflow-y:scroll;
    color: greenyellow;

}
*/


#scrolltable {
    margin-top: 20px;
    height: 200px;
    overflow: auto;
}
#scrolltable th div {
    position: absolute;
    margin-top: -20px;
}