body {
    background-color: #000000;
    font-family: 'Bambi', sans-serif;
    text-align: center;
    color: #000000;
}

.center {
    border-radius: 25px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Input fields */
form {
    margin: 2em 0;
}


.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

label, input {
    transition: all 0.2s;
    touch-action: manipulation;
}

input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 2px;
    font-size: 10px;
    padding-bottom: 2px;
}

input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

input:focus::-webkit-input-placeholder {
    opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

/*.text-input input[type="text"] {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.text-input input[type="password"] {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}*/

.button input[type="submit"] {
    margin-top: 20px;
    width: 94%;
    margin: 2em 3% 0;
    border: none;
    background: #9900e6;
    padding: 1em 0;
    font-size: 1.25em;
    clear: both;
    color: #FFFFFF;
    border: #9900e6 1px solid;
    border-radius: 25px;
@include border-radius(5px);
    outline: none;
@include trans(all, .25s);
    cursor: pointer;
}

.button input[type="submit"]:hover {
    background: #FFFFFF;
    color: #9900e6;
}

.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.message a {
    color: #333333;
    text-decoration: none;
}

.error {
    margin: 15px 0 0;
    font-size: 12px;
}
